<div class="flex-no-wrap relative flex items-center justify-center h-full min-h-screen bg-cover bg-center"
     [style.backgroundImage]="'url(' + config.backgroundImage + ')'" 
     (click)="backgroundClick($event)">

  <div class="logo-container">
    <img *ngFor="let logo of config.logos" [src]="logo" class="logo" />
  </div>

  <div class="content" (click)="contentClick($event)">
    <div *ngIf="config.showWelcome" class="welcome-box animate__animated animate__fadeIn">
      <img [src]="config.logos[1]" alt="Logo" class="logo3">
      <h1>{{ config.welcomeText }}</h1>
      <button (click)="toggleLogin(true)">{{ config.loginButtonText }}</button>
    </div>

    <div *ngIf="config.showLogin" class="login-form">
      <app-login (loginPopupOpened)="onLoginPopupOpened()" (onLoginSuccess)="onLoginSuccess()"></app-login>
    </div>
  </div>

  <div *ngIf="popupOpen" class="overlay"></div>
</div>
