<app-header></app-header>
<div class="contentbody router-outlet-container">
    <div class="center-element-page">
        <div class="login-card-container">
            <div [class]="loginBlueprint.sectionClassName" [id]="loginBlueprint.sectionCode">
                <div>
                    <img [class]="loginBlueprint.element.LOGO.className" [src]="loginBlueprint.element.LOGO.content" [alt]="loginBlueprint.element.LOGO.sectionName"/>
                </div>
                <div>
                    <h2 [class]="loginBlueprint.element.WLCM_TXT.className">{{loginBlueprint.element.WLCM_TXT.content}}</h2>
                </div>
                <div>
                    <button [class]="loginBlueprint.element.LGN_BTN.className + ' font'" (click)="login()">
                        {{loginBlueprint.element.LGN_BTN.content}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
