.main-content {
  margin-left: 0; /* Default margin when sidebar is closed */
  transition: margin-left 0.3s ease; /* Smooth transition */

  &.collapsed {
    margin-left: 250px; /* Adjust margin when sidebar is open */
  }
}
